<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Listagem de usuários</h2>
    <a href="/user/create" class="btn btn-outline-primary d-flex align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    </a>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Curso</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
          <tr>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.major.name}}</td>
            <td>
              <a class="text-dark me-2" href="/user/read/{{this.id}}" title="Ver">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.174-.195.25-.13.147-.27.29-.42.422-1.253 1.295-3.266 2.544-5.463 2.544-2.196 0-4.21-.249-5.465-2.544a1.988 1.988 0 0 1-.42-.422A13.133 13.133 0 0 1 1.173 8z"/>
                  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                </svg>
              </a>
              <a class="text-dark me-2" href="/user/update/{{this.id}}" title="Editar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3.207L10 10.207 2.793 3 5 5.207 12.207 12.5 14.5 10.207 12.793 8.5zM4.5 13.5a.5.5 0 0 1-1 0V11h-2v2.5a1.5 1.5 0 0 0 1.5 1.5h.5v-2z"/>
                </svg>
              </a>
              <form action="/user/remove/{{this.id}}" method="post" class="d-inline">
                <button type="submit" class="btn btn-link text-dark p-0" onclick="return confirm('Deseja remover este curso?')" title="Remover">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13V9a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4H2.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H4a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1h2.5a1 1 0 0 1 1 1v1zM6 1.5V2h4V1.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5z"/>
                  </svg>
                </button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>